<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" >

<head >
	<meta charset = "utf-8" >
	<meta http-equiv = "x-ua-compatible" content = "ie=edge" >
	<title >All Articles | NEWYS</title >
	<meta name = "viewport" content = "width=device-width, initial-scale=1" >
	<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
	<link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
</head >

<body >
<div class = "container-fluid" >
	<div class = "card" >
		<div class = "card-body" >
			<div th:switch = "${articles}" class = "container my-5" >


				<div class = "form-group row col-md-12" >
					<p class = "my-5" >
						<a th:href = "@{/index/}" class = "btn btn-warning" style = "position: absolute; right: 0;" >
							<i class = "fas fa-external-link-alt" >Logout</i >
						</a >
					</p >
				</div >
				<div class = "form-group row col-md-12" >
					<p class = "my-5" >
						<a href = "/article/create" class = "btn btn-primary" >
							<i class = "fas fa-plus" >Create</i >
						</a >
					</p >

				</div >

				<div class = "col-md-10" >
					<h2 th:case = "null" >No record found!</h2 >
					<div th:case = "*" >
						<table class = "table table-striped table-responsive-md w-auto text-nowrap" >
							<thead >
							<tr >
								<th >Title</th >
								<th >Author</th >
								<th >Content</th >
								<th >Date Created</th >
								<th >Edit</th >
								<th >Delete</th >

							</tr >
							</thead >
							<tbody >
							<tr th:each = "article : ${articles}" >
								<td th:text = "${article.getTitle()}" ></td >
								<td th:text = "${article.getAuthor()}" ></td >
								<td th:text = "${article.getContent()}" ></td >
								<td th:text = "${#temporals.format(article.getDateCreated(), 'yyyy-MM-dd HH:mm')}"></td >

								<td >
									<a th:href = "@{/article/edit/{id}(id=${article.getArticleID()})}" class = "btn btn-primary" >
										<i class = "fas fa-edit" ></i >
									</a >
								</td >
								<td >
									<a th:href = "@{/article/delete/{id}(id=${article.getArticleID()})}" class = "btn btn-primary" >
										<i class = "fas fa-times" ></i >
									</a >
								</td >
							</tr >
							</tbody >
						</table >


						<div class = "pagination-div" >
					    <span th:if = "${articles.hasPrevious()}" >
					        <a th:href = "@{/articles(page=${articles.number-1},size=${articles.size})}" >Previous</a >
					    </span >
							<th:block th:each = "i: ${#numbers.sequence(0, articles.totalPages - 1)}" >
								<span th:if = "${articles.number == i}" class = "selected" >[[${i}+1]]</span >
								<span th:unless = "${articles.number == i}" >
					             <a th:href = "@{/articles(page=${i},size=${articles.size})}" >[[${i}+1]]</a >
					        </span >
							</th:block >
							<span th:if = "${articles.hasNext()}" >
					        <a th:href = "@{/articles(page=${articles.number+1},size=${articles.size})}" >Next</a >
					    </span >
						</div >


					</div >
				</div >
			</div >
		</div >
	</div >
</div >
</body >

</html >
